*{
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #C5C5F8;
    font-family: "Poppins", sans-serif;
}

.card{
    border-radius: 15px;
    box-shadow: 0 18px 20px rgba(251, 132, 132, 0.25);
    background-color: #FFFFFF;
    width: 850px;
    height: 600px;
    padding: 4rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    border-radius: 8px;
    border: 1px solid #C5C5F8;
    width: 240px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-size: 17px;
    color: #0E0D46;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.searchIcon{
    margin-right: 0.2rem;
}

.profileImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.profile{
    display: flex;
    align-items: center;
}

.profileIcon{
    margin-right: 2rem;
}

.title{
    font-family: "Merriweather", serif;
    color: #0E0D46;
    font-size: 32px;
    font-weight: 700;
    margin-top: 1rem;
}

.handleAccounts{
    margin-top: 16px;
}

.account{
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    height: 100px;
    background-color: #FAF2FE;
}

.accountt{
    margin-top: 10px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    height: 100px;
    background-color: #fff;
}

.accountType{
    display: flex;
    align-items: center;
}

.accountImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 0.8rem;
}

.nameOne{
    color: #0E0D46;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 22px;
}

.nameTwo{
    color: #0E0D46;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 14px;
}

.numberOfAccounts{
    color: #0E0D46;
    font-family: "Poppins", sans-serif;
    size: 16px;
    margin-right: 50px;
}